.container{
    background-color: rgba(0, 0, 0, 0.58);
    margin-top: 20px;
    margin-left: 300px;
    width: 870px;
    height: 650px;
    border-radius: 3%;

}
header{
    text-align: center;
    color: #66ea01;
}
.container>header{
    margin-top: 20px;
}

header > h1{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 22px;
    font-family: 'Monserrat', sans-serif;
}
body{
    background-image: url(IMG/background.jpg);
    background-size: cover;
}    

header>.logo{
    width: 20%;
    margin-top: 75px;
}

nav{
    text-align: center;
    margin-top: -20px;
    margin-left: 85px;
    margin-right: 85px;
    background-color: #66ea01;
    border: 1px solid black;
    padding: 10px;
}

#Prenota{
    width: 50px;
    border: solid black 1px;
    text-align: center;
}

#Termina{
    width: 120px;
    border: solid black 1px;
    text-align: center;
}

#Accendi{
    width: 80px;
    border: solid black 1px;
    text-align: center;
}
#corpo{
    margin-left: 85px;
    margin-right: 85px;
    font-family: 'Monserrat', sans-serif;
    color: aliceblue;
}

.size{
    width: 3px;
    margin-right: 8px;
}
.info{
    font-size: 12px;
}
.GINO{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Gino22{
    width: 250px;
    height: 25px;
    background-color: rgb(246, 215, 45);
    position: relative;
    border-radius: 5px;
    margin-top: 3px;
   
}

.MIKE{
    margin-top: 20px;
    margin-bottom: 20px;  
}
.Mike24{
    width: 400px;
    height: 25px;
    background-color: greenyellow;
    position: relative;
    border-radius: 5px;
    margin-top: 3px;
}

.FEDE{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Fede154{
    width: 100px;
    height: 25px;
    background-color: rgb(195, 6, 6);
    position: relative;
    border-radius: 5px;
    margin-top: 3px;
}

